[user]
	name = Samuel J Rosenthal
	email = sjrosen@gmail.com
[core]
	excludesfile = ~/.cvsignore
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	dt = difftool
	ci = commit
	st = status
